In [1]:
import re
import pandas as pd
from pathlib import Path
import numpy as np

In [2]:
_, df_rs = pd.read_html('XXEJE_EAM____Reporte_situación_021121.xls', header =0)

In [3]:
df_rs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Organizacion          10692 non-null  object
 1   Numero Activo Eam     4677 non-null   object
 2   Nro Ot                4677 non-null   object
 3   Estado Ot             4677 non-null   object
 4   Fecha Inicio          10692 non-null  object
 5   Fecha Cierre De Ot    4677 non-null   object
 6   Numero Activo Sigle   3219 non-null   float64
 7   Mmu Ppu N Serie       3196 non-null   object
 8   Tipo Mant             4677 non-null   object
 9   Sistema               4677 non-null   object
 10  Codigo Falla          93 non-null     object
 11  Desc Falla            93 non-null     object
 12  Numero Sic            10692 non-null  int64
 13  Numero Linea          10692 non-null  int64
 14  Material O Servicios  10692 non-null  object
 15  Estado Sic            10692 non-null  object
 16  Fecha Creacion Sic    10692 non-null  object
 17  Fecha Aprobación SIC  3803 non-null   object
 18  Nro Referencial       10692 non-null  object
 19  Actividad Finalidad   10692 non-null  int64
 20  Total                 10692 non-null  int64
dtypes: float64(1), int64(4), object(16)
memory usage: 1.7+ MB

In [19]:
df = df_rs[['Nro Ot', 'Estado Sic', 'Nro Referencial', 'Total']]

In [20]:
df['Nro Referencial'] = df['Nro Referencial'].str.replace('LIBRO','',regex=False)
df['Nro Referencial'] = df['Nro Referencial'].str.replace('OT ','OT/',regex=False)
df['Nro Referencial'] = df['Nro Referencial'].str.replace(' ','',regex=False)
df['Nro Referencial'] = df['Nro Referencial'].str.replace('N°','',regex=False)
df['Nro Referencial'] = df['Nro Referencial'].str.replace('N.°','',regex=False)
df['Nro Referencial'] = df['Nro Referencial'].str.replace('Nº','',regex=False)
df['Nro Referencial'] = df['Nro Referencial'].str.replace('Nª','',regex=False)
df['Nro Referencial'] = df['Nro Referencial'].str.replace('O/T','OT/',regex=False)
df['Nro Referencial'] = df['Nro Referencial'].str.replace('OT-','OT/',regex=False)
df['Nro Referencial'] = df['Nro Referencial'].str.replace('OT.','OT/',regex=False)
df['Nro Referencial'] = df['Nro Referencial'].str.replace('OT:','OT/',regex=False)
df['Nro Referencial'] = df['Nro Referencial'].str.replace('OT;','OT/',regex=False)
df['Nro Referencial'] = df['Nro Referencial'].str.replace('OT/:','OT/',regex=False)
df['Nro Referencial'] = df['Nro Referencial'].str.replace('OT/-','OT/',regex=False)
df['Nro Referencial'] = df['Nro Referencial'].str.replace('OT/.','OT/',regex=False)
df['Nro Referencial'] = df['Nro Referencial'].str.replace('0/T','OT/',regex=False)

df['Nro Referencial'] = df['Nro Referencial'].str.replace('.','',regex=False)
df['Nro Referencial'] = df['Nro Referencial'].str.replace('//','/',regex=False)

In [21]:
# b=0
for i, n in enumerate(df['Nro Referencial']):
    check = 'E-'
    if check in n:
        # print(n.find(check))
        # print(len(n)/2)
        if n.find(check) < len(n)/2:
            df.loc[i, 'Nro Referencial'] = n[6:]
            # print(n[6:])
        else:
            df.loc[i, 'Nro Referencial'] = n[:9]
            # print(n[:9])
    check = 'EJTO-'
    if check in n:
        if n.find(check) < len(n)/2:
            # print(n[9:])
            df.loc[i, 'Nro Referencial'] = n[9:]
        else:
            df.loc[i, 'Nro Referencial'] = n[:9]
            # print(n[:9])
        # print(n)

C:\Users\Lanzet\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [25]:
for i, n in enumerate(df['Nro Referencial']):
    test = n.split(',')
    if len(test)>1:
        n = n.replace('y', ',')
        print(n)

OT/07,11,42
OT/54,55,56,57,58
OT/54,55,56,57,58
OT/47,50
OT/47,50
OT/47,50
OT/47,50
OT/103990,103989
OT/103990,103989
OT/103990,103989
OT/103990,103989
OT/56,57,59
OT/56,57,59
OT/56,57,59
OT/102310,102311,102307
OT/102310,102311,102307
OT/102310,102311,102307
OT/102310,102311,102307
OT/102310,102311,102307
OT/102576,103814
OT/90,91,150,151
OT/92,93,94
OT/92,93,94
OT/92,93,94
OT/92,93,94
OT/92,93,94
OT/92,93,94
OT/92,93,94
OT/92,93,94
OT/92,93,94
OT/102346,102347
OT/102346,102347
OT/102346,102347
OT/119585,119586
OT/119585,119586
OT/100750,100926
OT/96644,99862,145377
OT/96644,99862,145377
OT/96644,99862,145377
OT/96644,99862,145377
OT/96644,99862,145377
OT/149553,102164,102162
OT/159172,158680,157533
OT/159172,158680,157533
OT/159172,158680,157533
OT/159172,158680,157533
OT/147565,120468,102811
OT/147565,120468,102811
OT/147565,120468,102811
OT/147565,120468,102811
OT/164554,176606,176607
OT/104887,161638
OT/100997,OT/101871
OT/97387,OT/97386
OT/97387,OT/97386
OT/97387,OT/97386
OT/97387,OT/97386
OT/97387,OT/97386
OT/97838,OT/97683
OT/97838,OT/97683
OT/97838,OT/97683
OT/97838,OT/97683
OT/97386,OT/97387
OT/97386,OT/97387
OT/97386,OT/97387
OT/97386,OT/97387
OT/97386,OT/97387
OT/165151,165153,165156
OT/165151,165153,165156
OT/165151,165153,165156
OT/165151,165153,165156
OT/165151,165153,165156
OT/165151,165153,165156
OT/165151,165153,165156
OT/165151,165153,165156
OT/165151,165153,165156
OT/107417,OT/107389
OT/113421,136307
OT/2213787,213781,213786
OT/2213787,213781,213786
OT/2213787,213781,213786
OT/164409,136945,136944
OT/164409,136945,136944
OT/213784,213783
OT/213784,213783
OT/213784,213783
OT/213784,213783
OT/213784,213783
OT/141367,OT/141366
OT/141367,OT/141366
OT/164583,164585,164586
OT/168489,168487,168486
OT/168489,168487,168486
OT/168489,168487,168486
OT/168486,168487,168489
OT/168486,168487,168489
OT/168486,168487,168489
OT/226771,226773,226797
OT/126300,01,02,03,04,05
OT/157731,157734,157734
OT/157731,157734,157734
OT/115465,115476,115477
OT/115478,115484,115486
OT/115479,115483,115489
OT/236,258,253,245,238
OT/236,258,253,245,238
OT/09/2020,OT/10/20
OT/13,14,15,16,17,18

In [23]:
df['Nro Referencial']

0             OT/142019
1             OT/126067
2             OT/126325
3             OT/156254
4             OT/123584
              ...
10687         OT/143926
10688    OT/153(MANUAL)
10689    OT/152(MANUAL)
10690    OT/155(MANUAL)
10691    OT/154(MANUAL)
Name: Nro Referencial, Length: 10692, dtype: object

In [9]:
out_file = Path.cwd() / "Clean_Sic-Ot.xlsx"
writer = pd.ExcelWriter(out_file, engine = 'xlsxwriter')
df.to_excel(writer, index = False, sheet_name = 'Test1')
#df_vehic.to_excel(writer, index = False, sheet_name = 'Test2')
writer.save()