In [1]:
import pandas as pd
import numpy as np
import re
from pathlib import Path
import lxml
import tkinter as tk
from tkinter import filedialog
from datetime import datetime, timedelta
import locale
locale.setlocale(locale.LC_ALL, 'es_ES')

'es_ES'

In [2]:
path = '../Datos/XXEJE_EAM___Ciclo_de_vida_de_ó_010222.xls'
# root = tk.Tk()
# root.withdraw()

# path = filedialog.askopenfilename()
with open(path, 'rt', encoding='utf-8') as myfile:
    data = myfile.read()#.replace('</span><br/><span class="c62">', ' ').replace('</span><br/><br/><span class="c62">', ' ').replace('</span><br/><br/><br/><span class="c62">', ' ')

In [3]:
df_ori = pd.read_html(data, header=0)
# df_cvo = df_ori.copy()
df_cvo = pd.DataFrame(df_ori[0])

In [4]:
# df_cvo = pd.DataFrame(df_ori[0])

In [5]:
# df_cvo.info()

In [6]:
df_cvo = pd.DataFrame(df_ori[0])
# df_cvo.loc[df_cvo['Descripción'].map(type) == datetime, 'Descripción'] = None
# df_cvo['Descripción'].replace('MRB', None, inplace=True)

df_cvo.dropna(how='all', inplace=True)

df_cvo.loc[df_cvo['Descripcion Activo'].isnull(), 'Nulo'] = 'Si'

vacios = df_cvo[df_cvo['Nulo']=='Si'].index.values

# df_cvo.at[i, 'Descripción'] = [df_cvo.loc[i+1, ['Numero Activo','Descripción']]['Descripción'] for i in vacios]

for i in vacios:
    # print(df_cvo.loc[i, ['Numero Activo','Descripción']]['Descripción'])
    df_cvo.at[i, 'Descripción'] = df_cvo.loc[i+1, ['Numero Activo','Descripción']]['Descripción']

df_cvo.drop(columns='Nulo', inplace=True)
df_cvo.drop(index=vacios, inplace=True)
df_cvo.reset_index(drop=True, inplace=True)
df_cvo.drop_duplicates(inplace = True)

df_cvo.insert(loc=2, column='PPA_MMU', value=None)
df_cvo.insert(loc=5, column='Tipo Ot', value='Principal')
df_cvo.insert(loc=6, column='Sistema', value=None)

sist = ['Grupo Motopropulsor', 'Alimentacion De Combustible', 'Frenos', 'Rodadura', 'Direccion y Conduccion', 'Suspencion', 'Generacion e Iluminacion', 'Indicacion y Registro', 'Anfibio y Vadeo', 'Guiado de Armamento', 'Observacion y Control de Fuego', 'Armamento Principal', 'No Identificado 13', 'Plataforma Hidraulica', 'Plataforma Estructural', 'Equipamento Zapador / Recuperador', 'Extincion de Incendios', 'Acondicionamiento de Aire', 'Lanza Fumigenos', 'Estructura', 'Equipamiento Estructura', 'No Identificado 22', 'Comunicaciones']

for i, sis in enumerate(sist):
    # print(str(i+1).zfill(2))
    df_cvo['Sistema'] = np.where(((df_cvo['Grupo De Activos']=='GR_SIS.02.0'+str(i+1).zfill(2)) | (df_cvo['Grupo De Activos'].str.contains('GR_SUB.02.0'+str(i+1).zfill(2)))), sis, df_cvo['Sistema'])
    
df_cvo['Numero Ot Principal'] = np.where(df_cvo['Numero Ot Principal'].str.contains('No tiene'),None,df_cvo['Numero Ot Principal'])
df_cvo['Tipo Ot'] = np.where(df_cvo['Numero Ot Principal'].isnull(),df_cvo['Tipo Ot'],'Secundaria')

In [7]:
df_cvo['PPA_MMU'] = df_cvo['Descripcion Activo'].str.split('_', expand = True)[0]
b=0
for i, n in enumerate(df_cvo['PPA_MMU']):
    try:
        if not (re.match(r'[a-zA-Z0-9]{1,4}-[a-zA-Z0-9]{1,4}$', n)):
            # b=2
            # print(df_cvo_cvo.loc[i,'Numero Activo'][4:])
            m = df_cvo.loc[i,'Numero Activo'][4:]
            df_cvo.loc[i,'PPA_MMU'] = m # df_cvo.loc[i,'Numero Activo'][4:]
             
        # else:
            # print(n)
    except:
        b=1

for i, n in enumerate(df_cvo['PPA_MMU']):
    try:
        if not (re.match(r'[a-zA-Z0-9]{1,4}-[a-zA-Z0-9]{1,4}$', n)):
            # b=2
            # print(df_cvo_cvo.loc[i,'Descripción Activo'][:7])
            df_cvo.loc[i,'PPA_MMU'] = df_cvo.loc[i,'Descripcion Activo'][:7]
        # else:
            # print(n)
    except:
        b=1

for i, n in enumerate(df_cvo['PPA_MMU']):
    try:
        if not (re.match(r'[a-zA-Z0-9]{1,4}-[a-zA-Z0-9]{1,4}$', n)):
            # print(df_cvo.loc[i,'Descripción Activo'][:7])
            # print(n)
            df_cvo.loc[i,'PPA_MMU'] = 'SinNumero'
        else:
            b=2
    except:
        b=1

In [8]:
# df_cvo['PPA_MMU'][df_cvo['PPA_MMU'].isna()] = 'SinNumero'

In [9]:
df_rs = pd.read_csv('Valores_OT_Asoc_SIC.csv', header =0)
df_bdvehic = pd.read_csv('Clean_Bd_Vehic.csv', encoding='latin-1', index_col=0)
df_cod_org = pd.read_csv('Codigo_Organizacion.csv', sep=';')

In [10]:
df_rs.columns = df_rs.columns.str.replace(' ', '')
df_cvo.columns = df_cvo.columns.str.replace(' ', '')

df_rs.columns = df_rs.columns.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df_cvo.columns = df_cvo.columns.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')

In [11]:
column_names = ['Numero_OT', 'OT_Principal', 'Tipo_OT', 'Estado_OT', 'PPA_MMU', 'No_SIC', 'Total', 'Desc', 'Marca', 'Modelo', 'Nom', 'Ele_Comp', 'Desc_Falla', 'Cod_Org', 'Nom_Org', 'Cod_Taller', 'UAC', 'UR', 'Tipo_Mant', 'Tipo_Comb', 'Sistema', 'Fec_Creacion', 'Fec_Final', 'Fec_Liberacion', 'Fec_Cierre', 'Year', 'Fabricat_Year']

df = pd.DataFrame(columns = column_names)
df.columns = df.columns.str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
df.columns = df.columns.str.replace(' ', '')

In [12]:
# df_cvo.columns

In [13]:
df[['Numero_OT', 'OT_Principal', 'Tipo_OT', 'Estado_OT', 'PPA_MMU', 'Ele_Comp', 'Desc_Falla', 'Cod_Org', 'Cod_Taller', 'Tipo_Mant', 'Sistema', 'Fec_Solicitud' ,'Fec_Creacion', 'Fec_Final', 'Fec_Liberacion', 'Fec_Cierre']] = df_cvo[['NumeroOt', 'NumeroOtPrincipal', 'TipoOt', 'Estado', 'PPA_MMU', 'GrupoDeActivos', 'DescripcionOt', 'NombreUR', 'CodigoTaller', 'TipoMantenimiento', 'Sistema', 'Fechasolicitud','FechaCreacion', 'FechaFinalizacion', 'FechaLiberacion', 'FechaCierre']]
# df['OT_Principal'] = df_cvo['NumeroOtPrincipal']
# df['Tipo_OT'] = df_cvo['TipoOt']
# df['Estado_OT'] = df_cvo['Estado']
# # df['Prioridad_Ot'] = df_cvo['Prioridad']
# df['PPA_MMU'] = df_cvo['PPA_MMU']
# df['Ele_Comp'] = df_cvo['GrupoDeActivos']
# df['Desc_Falla'] = df_cvo['Descripcion']
# df['Cod_Org'] = df_cvo['CodOrganizacion']
# df['Cod_Taller'] = df_cvo['CodigoTaller']
# df['Tipo_Mant'] = df_cvo['TipoMantenimiento']
# df['Sistema'] = df_cvo['Sistema']
# df['Cod_Falla'] = df_cvo['CodigoFalla']
# df['Fec_Creacion'] = df_cvo['FechaCreacion']
# df['Fec_Inicial_Prog'] = df_cvo['FechaInicialProgramada']
# df['Fec_Final_Prog'] = df_cvo['FechaFinalizacionProgramada']
# df['Fec_Final'] = df_cvo['FechaFinalizacion']
# df['Fec_Liberacion'] = df_cvo['FechaLiberacion']
# df['Fec_Cierre'] = df_cvo['FechaCierre']
# df['Fec_Falla'] = df_cvo['FechaFalla']
# df['Hora_Rep'] = df_cvo['Duracion']

In [14]:
df['Tipo_OT'] = np.where(df['OT_Principal'].str.contains('No Tiene'), 'Principal', df['Tipo_OT'])
df['Tipo_OT'] = np.where(df['OT_Principal'].str.contains('OT'), 'Secundaria', df['Tipo_OT'])

mp = {'MPI', 'MPC'}
df.loc[df.Tipo_Mant.isin(mp), 'Tipo_OT'] = 'Principal'

In [15]:
def right_join_test(left_db, right_db, left_col, left_merge_cols, right_col, right_merge_cols):
    left_temp_df = left_db.copy()
    right_temp_df = right_db[right_col]
    right_db[right_merge_cols] = pd.merge(left_temp_df, right_temp_df, left_on=left_col, right_on=right_col, how='right', indicator=True)[left_merge_cols]

In [16]:
df_bdvehic.columns

Index(['MMU/PPU', 'Descripción', 'Marca', 'Modelo', 'Categoría SIGLE', 'UAC',
       'UR', 'Costo Actual', 'Situación Operacional', 'Condición del Bien',
       'Año Fabricación', 'Cód. CIMAGE', 'Tipo Patente', 'Combustible',
       'Estanque', 'Función'],
      dtype='object')

In [17]:
df.columns

Index(['Numero_OT', 'OT_Principal', 'Tipo_OT', 'Estado_OT', 'PPA_MMU',
       'No_SIC', 'Total', 'Desc', 'Marca', 'Modelo', 'Nom', 'Ele_Comp',
       'Desc_Falla', 'Cod_Org', 'Nom_Org', 'Cod_Taller', 'UAC', 'UR',
       'Tipo_Mant', 'Tipo_Comb', 'Sistema', 'Fec_Creacion', 'Fec_Final',
       'Fec_Liberacion', 'Fec_Cierre', 'Year', 'Fabricat_Year',
       'Fec_Solicitud'],
      dtype='object')

In [18]:
left_cols = ['Descripción', 'Marca', 'Modelo', 'UAC', 'UR', 'Tipo Patente', 'Combustible', 'Función', 'Año Fabricación']
right_cols = ['Desc', 'Marca', 'Modelo', 'UAC', 'UR', 'Nom', 'Tipo_Comb', 'Ele_Comp', 'Fabricat_Year']
right_join_test(df_bdvehic, df, 'MMU/PPU', left_cols, 'PPA_MMU', right_cols)
df['Ele_Comp'].replace(np.nan, 'NO APLICA', inplace=True)

In [19]:
# left_temp_df = df_bdvehic.copy()
# right_temp_df = df['PPA_MMU']
# left_cols = ['Descripcion', 'ATT8', 'Modelo', 'UAC', 'UR', 'ATT11', 'ATT19', 'ATT24']
# right_cols = ['Desc', 'Marca', 'Modelo', 'UAC', 'UR', 'Nom', 'Tipo_Comb', 'Ele_Comp']
# df[right_cols] = pd.merge(left_temp_df, right_temp_df, left_on='Numero Etiqueta', right_on='PPA_MMU', how='right', indicator=True)[left_cols]
# df['Ele_Comp'].replace(np.nan, 'NO APLICA', inplace=True)

In [21]:
df_rs

          NroOt       Total
0     OT/012018  11049240.0
1     OT/062018    430000.0
2     OT/100208    397250.0
3     OT/100693    228000.0
4     OT/100694    228000.0
...         ...         ...
1058   OT/99266    160000.0
1059   OT/99439    160000.0
1060   OT/99611     90000.0
1061   OT/99862    244000.0
1062    OT/EJTO  20382212.0

[1063 rows x 2 columns]

In [23]:
left_cols = ['Total', 'NroOt']
right_cols = ['Total', 'No_SIC']
right_join_test(df_rs, df, 'NroOt', left_cols, 'Numero_OT', right_cols)

In [ ]:
# left_temp_df = df_rs.copy()
# right_temp_df = df['Numero_OT']
# df[['SIC', 'Estado_SIC', 'Total']] = pd.merge(left_temp_df, right_temp_df, left_on='NroOt', right_on='Numero_OT', how='right', indicator=True)[['NumeroSic', 'EstadoSic', 'Total']]

In [ ]:
# df_cod_org.head()

In [24]:
left_cols = 'Nombre'
right_cols = 'Nom_Org'
right_join_test(df_cod_org, df, 'Codigo', left_cols, 'Cod_Org', right_cols)

In [ ]:
# left_temp_df = df_cod_org.copy()
# right_temp_df = df['Cod_Org']
# df['Nom_Org'] = pd.merge(left_temp_df, right_temp_df, left_on='Codigo', right_on='Cod_Org', how='right', indicator=True)['Nombre']

In [ ]:
# df_temp = df[['Fec_Solicitud', 'Fec_Creacion', 'Fec_Final', 'Fec_Liberacion', 'Fec_Cierre']]

In [25]:
df['Fec_Solicitud'].replace('ENE', 'ene.', regex=True, inplace=True)
df['Fec_Solicitud'].replace('FEB', 'feb.', regex=True, inplace=True)
df['Fec_Solicitud'].replace('MAR', 'mar.', regex=True, inplace=True)
df['Fec_Solicitud'].replace('ABR', 'abr.', regex=True, inplace=True)
df['Fec_Solicitud'].replace('MAY', 'may.', regex=True, inplace=True)
df['Fec_Solicitud'].replace('JUN', 'jun.', regex=True, inplace=True)
df['Fec_Solicitud'].replace('JUL', 'jul.', regex=True, inplace=True)
df['Fec_Solicitud'].replace('AGO', 'ago.', regex=True, inplace=True)
df['Fec_Solicitud'].replace('SEP', 'sep.', regex=True, inplace=True)
df['Fec_Solicitud'].replace('OCT', 'oct.', regex=True, inplace=True)
df['Fec_Solicitud'].replace('NOV', 'nov.', regex=True, inplace=True)
df['Fec_Solicitud'].replace('DIC', 'dic.', regex=True, inplace=True)

In [ ]:
# df_temp

In [26]:
# df = df[['Fec_Solicitud', 'Fec_Creacion', 'Fec_Final', 'Fec_Liberacion', 'Fec_Cierre']]

for i in df[['Fec_Creacion', 'Fec_Final', 'Fec_Liberacion', 'Fec_Cierre']]:
    df.loc[:, i] = pd.to_datetime(df.loc[:, i], errors='coerce', format='%Y/%m/%d')
    
df['Fec_Solicitud'] = pd.to_datetime(df['Fec_Solicitud'], errors='coerce', format='%d-%b-%y')
    
# df.fillna(np.datetime64('NaT'), inplace=True)

In [ ]:
# df_temp

In [ ]:
# df_temp.replace(np.datetime64('NaT'), str(pd.to_datetime('today').normalize().year), inplace=True)

In [ ]:
# df_temp.head()

In [27]:
df_temp = df[[ 'Fec_Creacion', 'Fec_Final', 'Fec_Liberacion', 'Fec_Cierre']]
df_temp.replace(np.datetime64('NaT'), str(pd.to_datetime('today').normalize().year), inplace=True)
df['Year'] = [np.amin(np.array([row.Fec_Creacion.year,row.Fec_Final.year,row.Fec_Liberacion.year,row.Fec_Cierre.year])) for _, row in df_temp.iterrows()]

C:\Users\Lanzet\AppData\Local\Programs\Python\Python38\lib\site-packages\pandas\core\frame.py:5233: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [ ]:
# df['Year'].unique()

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 63740 entries, 0 to 63739
Data columns (total 28 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Numero_OT       63740 non-null  object
 1   OT_Principal    10313 non-null  object
 2   Tipo_OT         63740 non-null  object
 3   Estado_OT       63740 non-null  object
 4   PPA_MMU         63740 non-null  object
 5   No_SIC          949 non-null    float64
 6   Total           949 non-null    float64
 7   Desc            62684 non-null  object
 8   Marca           61603 non-null  object
 9   Modelo          62659 non-null  object
 10  Nom             62653 non-null  object
 11  Ele_Comp        63740 non-null  object
 12  Desc_Falla      63716 non-null  object
 13  Cod_Org         63740 non-null  object
 14  Nom_Org         63740 non-null  object
 15  Cod_Taller      63484 non-null  object
 16  UAC             62684 non-null  object
 17  UR              62684 non-null  object
 18  Tipo_Mant       63662 non-null  object
 19  Tipo_Comb       62684 non-null  object
 20  Sistema         12023 non-null  object
 21  Fec_Creacion    63740 non-null  datetime64[ns]
 22  Fec_Final       36459 non-null  datetime64[ns]
 23  Fec_Liberacion  41607 non-null  datetime64[ns]
 24  Fec_Cierre      36287 non-null  datetime64[ns]
 25  Year            63740 non-null  int32
 26  Fabricat_Year   62576 non-null  float64
 27  Fec_Solicitud   33911 non-null  datetime64[ns]
dtypes: datetime64[ns](5), float64(3), int32(1), object(19)
memory usage: 15.9+ MB

In [ ]:
# df[df['Numero_OT'].str.len() > 9]

In [28]:
out_file = Path.cwd() / "output.xlsx"
writer = pd.ExcelWriter(out_file, engine = 'xlsxwriter', datetime_format='yyyy-mm-dd', date_format='yyyy-mm-dd')
df.to_excel(writer, index = False, sheet_name = 'Test1')
#df_vehic.to_excel(writer, index = False, sheet_name = 'Test2')
writer.save()